[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bootcluster"]
	path = bootcluster
	url = https://github.com/tianmoul/bootcluster
